COMPOSE_PROJECT_NAME=minasa-pyc-production
DOCKER_SUBNET=175.22.0.0/16

# For get your user UID running the command: id -u
USER_UID=1000
USER_NAME=docker_admin
TZ="America/Bogota"

APP_VERSION=v0.0.0
APP_ENV=local
APP_LOCALE=es
BASE_URL=pideYcuenta.com
APP_PORT=8280
APP_PORT_SSL=8243
TRAEFIK_PORT=8282

# Mysql Vars
DB_HOST=mysql
DB_DATABASE=pyc_{env}
DB_SCHEMAS=pyc_{env},pyc_testing_{env}
DB_USERNAME=pyc_user
DB_PASSWORD=123
DB_PORT=3314

# Redis Vars
REDIS_HOST=redis
REDIS_PORT=6384

# Composer auth.json file path
COMPOSER_AUTH_PATH=/home/{user}/.config/composer/auth.json


# ======================= Dashboard Application vars =======================

DASHBOARD_VERSION=v0.0.0# env local define as v0.0.0-local
DASHBOARD_APP_KEY=base64:********************************************
DASHBOARD_PATH=/home/{user}/Repositories/pyc_dashboard
DASHBOARD_URL=https://dashboard.pideYcuenta.com

# Accepted values for DASHBOARD_STORAGE_PATH: dashboard_storage or /{your_path}/pyc_dashboard/storage
DASHBOARD_STORAGE_PATH=dashboard_storage

# Mail settings
DASHBOARD_MAIL_MAILER=smtp
DASHBOARD_MAIL_SCHEME=null
DASHBOARD_MAIL_HOST=mailpit
DASHBOARD_MAIL_PORT=1025
DASHBOARD_MAIL_USERNAME=null
DASHBOARD_MAIL_PASSWORD=null
DASHBOARD_MAIL_ENCRYPTION=null
DASHBOARD_MAIL_FROM_ADDRESS=noreply@pideYcuenta.com


# ======================= Docker Registry Vars =======================

REGISTRY_IP=127.0.0.1
REGISTRY_PORT=5000

# this var MUST has the same value as REGISTRY_IP and REGISTRY_PORT vars, but in format: {REGISTRY_IP}:{REGISTRY_PORT}
REGISTRY_URL=registry-api.minasa.com:5000

# this var CAN be any hostname, but it MUST be the same as the value of REGISTRY_URL var, but without the port, in format: {REGISTRY_IP} or {REGISTRY_HOSTNAME}
REGISTRY_HOSTNAME="registry-api.minasa.com"
REGISTRY_NAMESPACE=minasa
